$headersColor: #212121;
$logoColor: #2196f3;
$logo-footerColor: #ffffff;
$primaryBackground: #e5e5e5;
$paragraphColor: #757575;
$team-sectionBackground: #f5f4fa;
$footerBackground: #2f303a;
$borderColor: #eeeeee;
$headerBorder: #ececec;
$social-itemsColor: rgba(175, 177, 184, 1);
$social-itemsBackground: rgba(255, 255, 255, 0.1);
$team-iconsColor: #afb1b8;
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$mainBorderRadius: 4px;
$mainFontFamily: "Roboto", sans-serif;
